# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Program\C++_Primer_Practice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
